/* === СТРАНИЦА DASHBOARD === */
.dashboard-page {
    padding: 100px 80px 50px 80px;
    min-height: 100vh;
    background: #0D0D0F;
    font-family: 'RobotoMedium';
} 


@media (max-width: 1024px) {
    .dashboard-page {
        padding: 100px 0px 50px 0px;
       
    } 
}

@media (max-width: 768px) {
     .dashboard-page {
        padding: 100px 0px 50px 0px;
       
    } 
}

@media (max-width: 480px) {
     .dashboard-page {
        padding: 100px 0px 50px 0px;
       
    } 
}